<div class="modal fade" id="policyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Policy för inlämning</h1>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">
                        <h2>Kläder och varor</h2>
                        <p>Vi tar emot barnkläder från nyfödd upp till
                            storlek 152 samt skor, leksaker, babytillbehör och mammakläder. Du får
                            lämna in en kasse med kläder per månad.
                            Kläderna ska vara hela, rena och i mycket fint
                            begagnat skick. Vi önskar ta emot kläder som är
                            inköpta under de senaste
                            fem åren. Kläderna ska vara nytvättade. Leksaker och babyartiklar ska vara rengjorda och fungerande. Vi
                            förbehåller oss rätten att sortera bort sådant
                            som är i för dåligt skick för att sälja.</p>

                        <p>Tänk på allergiker och se till att kläderna är fria från djurhår. Tvätta kläderna och förslut de gärna
                            direkt i plastpåsar så håller de sig rena och frächa.Vi tar emot kläder efter säsong vilket innebär att vi
                            t.ex. inte vill ha in sommarklänningar på vintern eller vinterjackor på våren. Vi tar inte emot VHS-filmer
                            och små plastleksaker i stil med de från hamburgerkedjorna. Vissa mjukisdjur kan tas emot, t.ex. pippi-
                            figurer och liknande. Vanliga nallar undanbedes då de är svårsålda. Lämna in saker du själv skulle kunna
                            tänka dig att köpa</p>
                    </div>

                    <div class="col-sm-12">
                        <h2>Ersättning</h2>
                        <p>Vi säljer på kommission vilket betyder att du får betalt i efterhand för de varor som sålts. Du får tillbaka
                            40% av det satta försäljningspriset. Resterande 60% ska täcka butikens lokalhyra, skatter, moms, personal,
                            marknadsföring mm. För varor som har ett försäljningspris över 300:- får du 50% tillbaka.</p>

                        <p>Första gången du lämnar in saker hos oss får du ett kundnummer. Vi märker sedan upp dina varor med pris och
                            ditt kundnummer. Vi sätter priset efter varans skick, märke och popularitet. Varorna får hänga ute i butiken
                            i 12 veckor och därefter får du ett mail av oss där det framgår hur många varor som sålts och hur mycket
                            pengar som kommer föras över till ditt bankkonto. Kläderna får alltså hänga i butiken i 12 veckor och
                            därefter får du antingen själv komma och hämta det som finns kvar eller så tillfaller det butiken.
                            Vår förhoppning är att de flesta saker ska vara sålda efter 12 veckor. Inlämning sker under öppettiderna.
                            Hör gärna av dig i förväg om du har större saker att lämna.</p>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dashed" data-dismiss="modal">Stäng</button>
            </div>
        </div>
    </div>
</div>